---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Image from "../components/ImageCaption.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="w-full max-w-screen-md mx-auto my-4 dark:bg-neutral-800 dark:text-neutral-300 transition-colors duration-300" >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="px-4 md:px-16 flex flex-col gap-4 md:my-10">
        <h1 class="text-2xl md:text-5xl w-full"> Hello there! </h1>
        <p class="w-full text-justify text-base md:text-lg">
          Welcome to my website. My name is Simon Pfeifer and I'm interested in computer graphics,          interesting algorithms and anything fun you can do with a computer. My formal background          is in astrophysics, specifically computational cosmology. If you're interested, I have
          more information on my  <a href="/about"> About</a> page which also contains my socials.
          Feel free to check out my <a href="/cv"> CV</a> if you're interested in a more formal 
          view of my career so far.
        </p>
        <p class="w-full text-justify text-base md:text-lg">
          On this site you can find my <a href="/blog"> Blog</a> where I write small articels
          about interesting things I've done. It serves partly as a learning tool for me by 
          writing up experiments and ideas I've tried, and a repository of information that others
          who stumble across it might find interesting and/or useful.
        </p>
        <p class="w-full text-justify text-base md:text-lg">
          There is also a <a href="/projects"> Projects</a> page that contains stand alone
          works with explanations alonside links to source code. These tend to be larger projects
          than the blog posts.
        </p>
      </div>
	      </main>
    <Footer />
  </body>
</html>

