---
import { Icon } from "astro-iconify";

const today = new Date();
const iconClass = 
"w-6 h-6 text-gray-600 hover:text-gray-500 dark:text-neutral-200";
---

<footer class="mt-20 md:mt-36 mx-4">
  <div class="border-b pb-8 mb-5 "></div>
  <div class="flex float-right mb-10 gap-x-3">
		<a href="mailto: simonpfeifer64@gmail.com" target="_blank">
			<Icon name="radix-icons:envelope-closed" class={iconClass}/>
		</a>
		<a href="https://github.com/SimonPfeifer" target="_blank">
			<Icon name="radix-icons:github-logo" class={iconClass}/>
		</a>
		<a href="https://linkedin.com/in/simon-pfeifer-617904330" target="_blank">
			<Icon name="radix-icons:linkedin-logo" class={iconClass}/>
		</a>	
  </div>

  <p class="text-sm font-medium mb-10">
    &copy; {today.getFullYear()} Simon Pfeifer. All rights reserved.
  </p>
</footer>
